[submodule "trialBlog/public"]
	path = trialBlog/public
	url = https://github.com/zubeyirtosun/zubeyirtosun.github.io.git
	branch = main
[submodule "trialBlog/public2"]
	path = trialBlog/public2
	url = https://github.com/zubeyirtosun/zubeyirtosun.github.io.git
	branch = main
