[submodule "trialBlog/public"]
	path = trialBlog/public
	url = https://github.com/zubeyirtosun/zubeyirtosun.github.io.git
	branch = main
[submodule "trialBlog/public2"]
	path = trialBlog/public2
	url = https://github.com/zubeyirtosun/zubeyirtosun.github.io.git
	branch = main
[submodule "trialBlog/themes/hugo-blog-awesome"]
    path = trialBlog/themes/hugo-blog-awesome
    url = https://github.com/zubeyirtosun/hugo-blog-awesome.git
[submodule "trialBlog/themes/hugo-theme-anubis2"]
    path = trialBlog/themes/hugo-theme-anubis2
    url = https://github.com/zubeyirtosun/hugo-theme-anubis2.git
[submodule "trialBlog/themes/hugo-theme-stack"]
    path = trialBlog/themes/hugo-theme-stack
    url = https://github.com/zubeyirtosun/hugo-theme-stack.git
[submodule "zubeyirtosun.github.io"]
    path = zubeyirtosun.github.io
    url = https://github.com/zubeyirtosun/zubeyirtosun.github.io.git
